.omlette-title {
  color: black;
  font-size: 40px;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
}

.omlette-duration {
  color:brown;
  font-size: 20px;
}

.omlette-ingredients {
  color:brown;
  font-size: 20px;
}

.omlette-instructions {
  color:brown;
  font-size: 20px;
}

.omlette-nutrition {
  color:brown;
  font-size: 20px;
}


.omlette-button {
  color:red;
  font-size: 15px;
}

.nutrition-table {
  margin-top: 30px;
}
  
.row {
  display: flex;
  justify-content: space-between;
  margin: 0 30px;
  max-width: 500px;
}

.row .name {
  font-weight: bold;
  color: hsl(30, 10%, 34%);
}

.row .value {
  font-weight:bold;
  color:brown;
}


.omlette-button {
  color:red;
  font-size: 15px;
  background-color: white;
}